<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/filter-toggle.js"></script>
    <script type="text/javascript" src="/scripts/all-filter.js"></script>
    <script type="text/javascript" src="/scripts/info-filter.js"></script>
    <script type="text/javascript" src="/scripts/warning-filter.js"></script>
    <script type="text/javascript" src="/scripts/error-filter.js"></script>
    <script type="text/javascript" src="/scripts/timestamp-toggle.js"></script>
    <script type="text/javascript" src="/scripts/timestamp-newest.js"></script>
    <script type="text/javascript" src="/scripts/timestamp-oldest.js"></script>
    <script type="text/javascript" src="/scripts/search-server.js"></script>
  </head>

  <body>

    <nav class="navbar sticky-top navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Logger</a>
      <div>
        <a class="navbar-brand" href="/login" id="login">Login</a>
        <a class="navbar-brand" href="/register" id="register">Register</a>
      </div>
    </nav>


  <table class="table table-sm">
    <div class="container">
      <h3>Filter by...</h3>
      <div class="btn-toolbar">
        <div class="dropdown" id="severity" style="padding-right: 20px">
          <button class="btn btn-warning dropdown-toggle" id="severity" type="button" data-toggle="dropdown">Severity
          <span class="caret"></span></button>
          <ul class="dropdown-menu" id="severity">
            <li><a id="all" href="/">all</a></li>
            <li><a id="info" href="/api/info">info</a></li>
            <li><a id="warning" href="/api/warning">warning</a></li>
            <li><a id="error" href="/api/error">error</a></li>
          </ul>
        </div>
        <div class="dropdown" id="timestamp">
            <button class="btn btn-info dropdown-toggle" id="timestamp" type="button" data-toggle="dropdown">Timestamp
            <span class="caret"></span></button>
            <ul class="dropdown-menu" id="timestamp">
              <li><a id="newest" href="/api/newest">newest</a></li>
              <li><a id="oldest" href="/api/oldest">oldest</a></li>
            </ul>
        </div>
      </div>
    </div>
  </table>



  <table class="table table-sm">
    <div class="container">
      <h3>Search by...</h3>
      
        <input class="form-control" type="server" placeholder="Server Name" aria-label="Search">

        <input class="form-control" type="server" placeholder="Message" aria-label="Search" value="Message">

        <input class="form-control" type="server" placeholder="Tag" aria-label="Search" value="Tag">
      

    
     <!--  <form class="form-inline" type="submit" id="message">
        <input class="form-control" placeholder="Message" aria-label="Message">
      </form>

      <form class="form-inline" type="submit" id="tag">
        <input class="form-control" placeholder="Tag" aria-label="Message">
      </form> -->
    </div>
  </table>

    <div class="main-container">
      <h2>Event Logs</h2>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Severity</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Server Name</th>
            <th scope="col">Message</th>
            <th scope="col">Tag</th>
          </tr>
        </thead>
        <tbody>
          <!-- looping through the array of messages from server-->
          <% messages.forEach( message => { %>
            <tr class="table-light">
              <td><%=message.severity %></td>
              <td><%=message.created_at %></td>
              <td><%=message.server_name %></td>
              <td><%=message.message %></td>
              <td><%=message.tag %></td>            
            </tr>
          <% }) %>

        </tbody>
      </table>
    </div>
   <!--  <p>Insert some kind of event</p>
    <form action="submit" method="post">
      <div>
        <input type="text" id="hello">
        <input type="submit">
      </div>
    </form> -->
  </body>

</html>
